/deep/.mat-tab-label,
/deep/.mat-tab-label-active {
  min-width: 60px !important;
  padding: 3px !important;
  margin: 3px !important;
}

.items /deep/.mat-tab-label,
.items /deep/.mat-tab-label-active {
  height: 150px !important;
}

.border td {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.border th {
  background-color: #DDD;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.selected {
  background-color: lightgreen;
}

th.number,
td.number {
  cursor: pointer;
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid {
  background-color: #FFCCCC;
}

.ignored {
  background-color: lightgray;
}
