<h1 style="padding: 10px; margin-bottom: 0;">Select Your Available Cards Level</h1>

<mat-tab-group>
  <mat-tab *ngFor="let g of gears">
    <ng-template mat-tab-label>
      {{g.category}}
    </ng-template>
    <ng-template matTabContent>
      <mat-tab-group class="items">
        <mat-tab *ngFor="let item of g.items">
          <ng-template mat-tab-label>
            <table>
              <tr>
                <td>
                  <img height="100" [src]="item.imageUrl">
                </td>
              </tr>
              <tr>
                <td>
                  {{item.name}}
                  <!-- {{item.rarity}}<br> -->
                  <!-- {{item.foundIn}} -->
                </td>
              </tr>
            </table>
          </ng-template>
          <table class="border" cellpadding="5" cellspacing="0">
            <tr>
              <th width="80">Level [<a [href]="item.url" target="_blank">edit</a>]</th>
              <th width="25" *ngFor="let v of item.total; index as i" (click)="setInventory(g.category, item.name, i)"
                [ngClass]="{'selected': hasInventory(g.category, item.name, i), 'number': true}">
                {{ i + 1 }}
              </th>
            </tr>
            <tr *ngFor="let a of item.attrs">
              <td>{{ a.attr }}</td>
              <td *ngFor="let s of a.skills; index as i" (click)="setInventory(g.category, item.name, i)"
                [ngClass]="{'selected': hasInventory(g.category, item.name, i), 'number': true}">
                {{ s || '-' }}</td>
            </tr>
            <tr>
              <th>Total Power</th>
              <th *ngFor="let t of item.total; index as i" (click)="setInventory(g.category, item.name, i)"
                [ngClass]="{'selected': hasInventory(g.category, item.name, i), 'number': true}">
                {{ t || '-' }}</th>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-container *ngIf="(bestConfigs$ | async) as topConfigs">
  <ng-container *ngIf="hasAtLeastOneInventory()">
    <p></p>

    <mat-divider></mat-divider>

    <h1 style="padding: 10px; margin: 0;">Find Your Best Lineup</h1>

    <p style="padding: 10px; margin-top: 0;">
      After selecting your available cards (for each category) above,
      the table below will give you the best achievable Total Power in descending order.
      You can adjust the level cap and set your preferred minimum power for each attribute.
      Click on the column to see its lineup.
    </p>

    <table>
      <tr>
        <th>Set Level Cap :</th>
        <td width="50">
          <mat-select [value]="levelCap" (selectionChange)="formGroup.get('levelCap').setValue($event.value)">
            <mat-option *ngFor="let e of [].constructor(9); index as i" [value]="i+4">{{ i+5 }}</mat-option>
          </mat-select>
        </td>
      </tr>
    </table>

    <table class="border" cellpadding="5" cellspacing="0" style="float: left;">
      <tr>
        <th colspan="2" width="140" height="29" style="text-align: center;">Set Minimum Power</th>
      </tr>
      <tr *ngFor="let attr of ATTRIBUTES" height="33">
        <th *ngIf="attr === 'Total'" colspan="2" style="text-align: right;">Total Power (Desc):</th>
        <ng-container *ngIf="attr !== 'Total'">
          <td>{{ attr }}</td>
          <td width="60">
            <mat-select [value]="formGroup.get(attr).value"
              (selectionChange)="formGroup.get(attr).setValue($event.value)">
              <mat-option *ngFor="let e of [].constructor(121); index as i" [value]="i">&#8805; {{ i }}</mat-option>
            </mat-select>
          </td>
        </ng-container>
      </tr>
    </table>

    <div style="width: calc(100% - 152px); overflow-x:scroll">
      <table [@toggleClick]="isOpen" *ngIf="selectedConfig" class="border" cellpadding="5" cellspacing="0">
        <tr height="40">
          <th *ngFor="let c of topConfigs; index as i" [ngClass]="{'selected': selectedConfig == c, 'number': true}"
            (click)="selectedConfig = c; endMarker.scrollIntoView({behavior:'smooth'})">
            <div style="width: 25px">#{{ i + 1 }}</div>
          </th>
        </tr>
        <tr *ngFor="let attr of ATTRIBUTES" height="33">
          <td *ngFor="let c of topConfigs; index as i" [ngClass]="{'selected': selectedConfig == c, 'number': true}"
            (click)="selectedConfig = c; endMarker.scrollIntoView({behavior:'smooth'})">
            {{ c.powers[attr].current }}</td>
        </tr>
      </table>

      <table *ngIf="!selectedConfig" cellpadding="25">
        <tr>
          <td height="100%">
            <br>
            <br>
            <h2>No lineup found</h2>
            <br>
            Try decreasing one of the minimum powers.
          </td>
        </tr>
      </table>
    </div>

    <br style="clear: both;">

    <table *ngIf="selectedConfig as c" class="border" cellspacing="0" cellpadding="5">
      <tr>
        <th width="80">Category</th>
        <th width="300">Selected Item Name</th>
      </tr>
      <tr *ngFor="let cat of CATEGORIES; index as i">
        <td>{{ cat }}</td>
        <td><b>{{ c.itemNames[i] }}</b> (
          <ng-container *ngFor="let e of stats(c.itemPowers[i][c.itemNames[i]])">
            {{ e }}
          </ng-container>
          )
        </td>
      </tr>
    </table>

    <br #endMarker>
  </ng-container>

  <mat-divider></mat-divider>
  <p style="padding: 5px;">
    <a href="https://www.facebook.com/groups/2305127729776201/permalink/2659181671037470" target="_blank">Send Feedback</a> &nbsp; | &nbsp;
    <a href="https://github.com/felix-halim/tennis-clash" target="_blank">Source Code</a> &nbsp; | &nbsp;
    <a href="https://tennis-clash.fandom.com/wiki/Category:Items" target="_blank">Dataset</a>
  </p>
</ng-container>
